JWKS_URI = "https://example.org/jwks"
APP_LOG_LEVEL = "DEBUG"
APP_LOG_PATH = "/path/to/log/file/log.txt"
AUDIT_LOG_PATH = "/path/to/audit/log/file/log.txt"
AUDIT_LOG_PUBLIC_KEY_PATH = "/path/to/audit/log/public_key/keyfile.pem"
PROMETHEUS_PORT = 1111
JWT_AUDIENCE = "some_audience"