JWKS_URI = "https://example.org/jwks"
ACCESS_CHECK_ENDPOINT = True
APP_LOG_LEVEL = "DEBUG"
APP_LOG_PATH = "/path/to/log/file/log.txt"
AUDIT_LOG_PATH = "/path/to/audit/log/file/log.txt"
AUDIT_LOG_PUBLIC_KEY_PATH = "/path/to/audit/log/public_key/keyfile.pem"
