# Byte-compiled Python
__pycache__/

# mypy
.mypy_cache/

# Python distribution/packaging
*.egg
*.egg-info/

.ve
.venv

# Project-specific items
/keys/
/logs/

/.env
/test.db
/test-audit-log-public-key.pem
